# 第6章 数据加载、存储和文件格式
## pandas 解析函数
![mark](http://p6yio0wew.bkt.clouddn.com/blog/180521/HlI0Hi89cD.png)

## 大致介绍一下这些函数转换为DataFrame时所用到的技术。这些选项可以换氛围以下几个大类。
- 索引：将一个或多个列当做返回的DataFrame处理，以及是否从文件用户获取列名。
- 类型推断和数据转换：包括用户定义值的转换、缺失值标记列表等。
- 日期解析：包括组合功能，比如将分散在多个列中的日期信息组合成结果中的单个列。
- 迭代：支持对大文件进行逐块迭代。
- 不规整数据问题，条幅哦一些行，页脚、注释或其他不重要的东西。

In [2]:
import pandas as pd

In [3]:
pd.read_csv('1.csv',names = [1,2,3,4,5,6,7,9,8,0],sep = ',')

   1  2  3  4  5  6  7  9  8  0
0  1  2  3  4  5  6  7  8  9  0
1  2  3  4  5  6  7  8  9  0  1
2  1  2  3  4  5  6  7  8  9  0
3  2  3  4  5  6  7  8  9  0  1
4  1  2  3  4  5  6  7  8  9  0
5  2  3  4  5  6  7  8  9  0  1

In [4]:
pd.read_table('1.csv',sep=',')

   1  2  3  4  5  6  7  8  9  0
0  2  3  4  5  6  7  8  9  0  1
1  1  2  3  4  5  6  7  8  9  0
2  2  3  4  5  6  7  8  9  0  1
3  1  2  3  4  5  6  7  8  9  0
4  2  3  4  5  6  7  8  9  0  1

In [5]:
!type 1.csv

1,2,3,4,5,6,7,8,9,0
2,3,4,5,6,7,8,9,0,1
1,2,3,4,5,6,7,8,9,0
2,3,4,5,6,7,8,9,0,1
1,2,3,4,5,6,7,8,9,0
2,3,4,5,6,7,8,9,0,1

## read_cav\read_table函数的参数
![mark](http://p6yio0wew.bkt.clouddn.com/blog/180521/9lB1KBcIak.png)
![mark](http://p6yio0wew.bkt.clouddn.com/blog/180521/keCg9flL4C.png)
![mark](http://p6yio0wew.bkt.clouddn.com/blog/180521/9IbkF6C1FK.png)

## 将数据写出到文本格式
### to_csv与from_csv

## 手工处理分隔符格式

In [6]:
!type 1.csv

1,2,3,4,5,6,7,8,9,0
2,3,4,5,6,7,8,9,0,1
1,2,3,4,5,6,7,8,9,0
2,3,4,5,6,7,8,9,0,1
1,2,3,4,5,6,7,8,9,0
2,3,4,5,6,7,8,9,0,1

### 可以直接使用python内置的csv模块，将任意已打开的文件或文件型的对象传给csv.reader

In [7]:
import csv 
f = open ('1.csv')
reader = csv.reader(f)

In [8]:
for line in reader :
    print(line)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']
['2', '3', '4', '5', '6', '7', '8', '9', '0', '1']
['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']
['2', '3', '4', '5', '6', '7', '8', '9', '0', '1']
['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']
['2', '3', '4', '5', '6', '7', '8', '9', '0', '1']

In [9]:
lines = list(csv.reader(open('1.csv')))

In [10]:
header,values = lines[0],lines[1:]

In [11]:
data_dict = {h:v for h,v in zip(header,zip(*values))}

In [12]:
data_dict

{'0': ('1', '0', '1', '0', '1'),
 '1': ('2', '1', '2', '1', '2'),
 '2': ('3', '2', '3', '2', '3'),
 '3': ('4', '3', '4', '3', '4'),
 '4': ('5', '4', '5', '4', '5'),
 '5': ('6', '5', '6', '5', '6'),
 '6': ('7', '6', '7', '6', '7'),
 '7': ('8', '7', '8', '7', '8'),
 '8': ('9', '8', '9', '8', '9'),
 '9': ('0', '9', '0', '9', '0')}

### csv语支选项
![mark](http://p6yio0wew.bkt.clouddn.com/blog/180523/3acHDiGG9h.png)

## JSON数据
## XML和HTML：web信息收集
## 二进制数据格式
## 使用HDF5格式
## 读取MS Excel文件
### 看书第6章

## 使用数据库

### 将数据从SQL加载到DataFrame的过程很简单，此外pandas有一些能够简化该过程的函数。
#### 我们使用一款嵌入式SQLite数据库。
## 具体见书195页